li {
    list-style-type: none;
}
ul {   

}
body {
    background:#0d0120;
    color: rgb(255, 255, 255);
    font-family: Helvetica, sans-serif;
}
.main {
    margin: 0 auto 0 auto;
    display: flex;
    width: 1100px;
}
header {
    margin: 0 auto 0 auto;
    font-family: Helvetica, sans-serif;
    width: 1100px;
    height: 150px;
    padding-left: 20px;
    padding-top: 30px;
    padding-right: 20px;
}
.leftbox {
    background-color: #1b0242;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    text-align: right;
    width: 300px;
    left: 30px;
    height: 1100px;
    padding-left: 20px;
    padding-top: 30px;
    padding-right: 20px;
}
.rightbox {
    width: 750px;
    height: 1100px;
    padding-left: 20px;
    padding-top: 30px;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    float: left;
}
footer {
    background-color: black;
    
    margin: 0 auto 0 auto;
    width: 1100px;
    height: 160px;
    font-family: Helvetica, sans-serif;
}
.endcircle {
    width: 270px;
    height: 270px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 20%;
    overflow: hidden;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #43217a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    width: 250px;
    height: 250px;
    box-shadow: rgba(151, 16, 117, 0.836) 0px 10px 36px 0px, rgba(243, 19, 224, 0.233) 0px 0px 0px 1px;
    overflow: hidden;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.circle__img {
    display: block;
    width:100%;
    border-radius: 49%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.footer__img {
    display: flex;
    align-items: center;
    margin-top: 2%;
    font-size: 280%;
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    text-align: justify
}
.logo {
    width: 10%;
    height: 10%;
    margin-top: 2%;
    margin-left: 2%;
}